body {
	font: 1rem/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif;
	
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	
	overflow: hidden;
}

.flappy {
	background-image: url('/assets/flappy-background.png');
	
	width: 420px;
	height: 640px;
	margin: auto;
	
	position: relative;
	overflow: hidden;
	
	transform: translate3d(0,0,0);
}

.flappy .score {
	z-index: 10;
	padding: 1rem;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	position: relative;
}

.flappy .highscores {
	color: white;
}

.flappy .prompt {
	z-index: 20;
	padding: 1rem;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	
	text-align: center;
}

.flappy .bird {
	z-index: 1;
	background-image: url('/assets/flappy-bird.png');
	position: absolute;
	background-size: contain;
	
	transform: translate3d(0,0,0);
	transition: all 0.033s linear 0s;
}

.flappy .pipe {
	z-index: 5;
	background-image: url('/assets/flappy-pipe.png');
	position: absolute;
	background-size: contain;
	
	transform: translate3d(0,0,0);
	transition: all 0.033s linear 0s;
}

.flappy .gemstone {
	z-index: 0;
	background-image: url('/assets/gemstone.gif');
	position: absolute;
	background-size: contain;
	
	transform: translate3d(0,0,0);
	transition: all 0.033s linear 0s;
}

.particle.bonus {
	--rotation-angle: 0deg;
	position: absolute;
	width: 5px;
	height: 5px;
	background: #fff;
	border-radius: 50%;
	animation: move 2.0s;
	opacity: 0;
	transform: rotate(var(--rotation-angle));
}

@keyframes move {
	0% {
			transform: translate(0, 0);
			opacity: 1;
	}
	100% {
			transform: rotate(var(--rotation-angle)) translate(100px, 100px);
			opacity: 0;
	}
}
