@font-face {
	font-family: 'Pixeloid Sans';
	src: url('/assets/pixeloid_sans/PixeloidSans.ttf') format('truetype');
	font-weight: normal;
}

@font-face {
	font-family: 'Pixeloid Sans';
	src: url('/assets/pixeloid_sans/PixeloidSans-Bold.ttf') format('truetype');
	font-weight: bold;
	
}
body {
	font: 1rem/1.5 'Pixeloid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	
	overflow: hidden;
}

.flappy {
	background-image: url('/assets/flappy-background.png');
	background-size: auto 100%;
	image-rendering: pixelated;
	
	width: 420px;
	height: 640px;
	margin: auto;
	
	position: relative;
	overflow: hidden;
	
	transform: translate3d(0,0,0);
}

.flappy ul.skins {
	display: block;
	text-align: center;
	padding: 0;
	margin: 0;
}

.flappy .skins li {
	display: inline-block;
	padding: 0.5rem;
	margin: 0.5rem;
}

.flappy .skins img {
	width: 34px;
	vertical-align: middle;
}

.flappy .skins li.selected {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 0.5rem;
}

.flappy .logo {
	background-image: url('/assets/logo.webp');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 380px 90px;
	
	width: 100%;
	height: 120px;
}

.flappy .score {
	z-index: 10;
	padding: 1rem;
	color: white;
	/* background-color: rgba(0, 0, 0, 0.5); */
	position: relative;
	
	text-shadow: 
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px  1px 0 #000,
		1px  1px 0 #000;
}

.flappy .highscores {
	color: white;
}

.flappy .prompt {
	z-index: 20;
	padding: 1rem;
	color: white;
	/* background-color: rgba(0, 0, 0, 0.5); */
	text-shadow: 
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px  1px 0 #000,
		1px  1px 0 #000;
	
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	
	text-align: center;
}

.flappy .bird {
	z-index: 1;
	background-image: url('/assets/flappy-bird.webp');
	position: absolute;
	background-size: contain;
	
	transform: translate3d(0,0,0);
	transition: all 0.033s linear 0s;
}

.flappy .bird.gull {
	background-image: url('/assets/flappy-gull.webp');
}

.flappy .bird.kiwi {
	background-image: url('/assets/flappy-kiwi.webp');
}

.flappy .bird.owl {
	background-image: url('/assets/flappy-owl.webp');
}

.flappy .pipe {
	z-index: 5;
	background-image: url('/assets/flappy-pipe.png');
	position: absolute;
	background-size: contain;
	
	transform: translate3d(0,0,0);
	transition: all 0.033s linear 0s;
}

.flappy .gemstone {
	z-index: 0;
	background-image: url('/assets/gemstone.gif');
	position: absolute;
	background-size: contain;
	
	transform: translate3d(0,0,0);
	transition: all 0.033s linear 0s;
}

@keyframes particle-bonus {
	0% {
		transform: rotate(var(--rotation-angle)) translate(0, 0);
		opacity: 1;
	}
	25% {
		transform: rotate(var(--rotation-angle)) translate(25px, -25px);
		opacity: 0.75;
	}
	50% {
		transform: rotate(var(--rotation-angle)) translate(50px, 50px);
		opacity: 0.5;
	}
	75% {
		transform: rotate(var(--rotation-angle)) translate(75px, -75px);
		opacity: 0.25;
	}
	100% {
		transform: rotate(var(--rotation-angle)) translate(100px, 100px);
		opacity: 0;
	}
}

.particle.bonus {
	--rotation-angle: 0deg;
	position: absolute;
	width: 10px;
	height: 10px;
	background: #ff0000;
	border-radius: 50%;
	opacity: 0;
	
	transform: rotate(var(--rotation-angle));	
	animation: particle-bonus 1.0s;
}

@keyframes particle-jump {
	0% {
			transform: rotate(var(--rotation-angle)) translate(0, 0);
			opacity: 1;
	}
	100% {
			transform: rotate(var(--rotation-angle)) translate(100px, 100px);
			opacity: 0;
	}
}

.particle.jump {
	--rotation-angle: 0deg;
	position: absolute;
	width: 5px;
	height: 5px;
	background: #ffee00;
	border-radius: 50%;
	opacity: 0;
	
	transform: rotate(var(--rotation-angle));
	animation: particle-jump 0.5s;
}